#sec3 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A2E3C4;
}

#sec3 article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

#sec3 article h3 {
    color: #3C493F;
    font-size: 2rem;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #3C493F;
}

.buttons button {
    border: 2px solid #5A9367;
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 2rem 2rem 2rem;
}

.buttons button:hover {
    font-size: 1rem;
}

.buttons a {
    text-decoration: none;
    color: #5A9367;
    font-weight: bold;
    transition: all 0.3s ease;
}

.buttons a:hover {
    text-shadow: 0.5px 0.5px rgb(201, 201, 201);
}

@media screen and (max-width: 767px) {
    #sec3 {
        height: auto;
    }
}