<!--This is the last (6-th) section (Contacts and social)-->
<section id="sec3">
  <article>
    <h3>Want to work together...</h3>
    <p>Any questions? Contact me here:</p>
  </article>
  <div class="buttons">
    <button>
      <a href="https://www.facebook.com/yan.evtimov" target="/blank">Facebook</a>
    </button>
    <button>
      <a href="https://github.com/YanEvtimov" target="/blank">GitHub</a>
    </button>
    <button>
      <a href="https://www.linkedin.com/in/yan-evtimov-63865a163/" target="/blank">LinkedIn</a>
    </button>
    <button>
      <a href="#">Send a mail</a>
    </button>
    <button>
      <a href="#">Call me</a>
    </button>
  </div>
</section>