<!--This is the fourth section (Projects)-->
<section id="sec2">
  <h3>These are some of my projects</h3>
  <figure>
    <div>
      <figcaption>Login Layout</figcaption>
    </div>
  </figure>
  <figure>
    <div>
      <figcaption>Template</figcaption>
    </div>
  </figure>
  <figure>
    <div>
      <figcaption>Tech Doc</figcaption>
    </div>
  </figure>
  <figure>
    <div>
      <figcaption>Portfolio</figcaption>
    </div>
  </figure>
  <figure>
    <div>
      <figcaption>Something</figcaption>
    </div>
  </figure>
  <figure>
    <div>
      <figcaption>Same Thing</figcaption>
    </div>
  </figure>
  <figure *ngFor="let project of projects" [@addPro]>
    <div><!-- *ngIf="project.imagePath" [style.background-image]="getImage(project.imagePath)"-->
      <figcaption>{{ project.name }}</figcaption>
    </div>
  </figure>
  <button><a (click)="onOpenForm()">{{ buttonName }}</a></button>
  <form (ngSubmit)="onAddProject(add)" #add="ngForm" *ngIf="show" [@changeState]>
    <label for="proName">Add name:</label>
    <input type="text" id="proName" name="name" placeholder="Project name" required [(ngModel)]="info.heading" #heading="ngModel">
    <label for="image">Add image:</label>
    <input type="text" id="image" name="imagePath" placeholder="Image url" required  [(ngModel)]="info.path" #path="ngModel">
    <button type="submit" [disabled]="!add.valid || add.untouched">Add</button>
  </form>
</section>