#sec2-3 {
    width: auto;
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/job-banner.jpg');
    background-repeat: no-repeat;background-color: #F0F7F4;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

#sec2-3 div {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 1rem;
    border-radius: 10px;
    color: #F0F7F4;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

#sec2-3 div p a {
    cursor: pointer;
    text-decoration: none;
}

#sec2-3 article {
    width: 100%;
    height: 100%;
    visibility: hidden;
    background:  rgba(0, 0, 0, 0.9);
    color: #A2E3C4;
    position: fixed;
    z-index: 3;
    top: 50px;
    left: 0px;
    overflow-x: scroll;
}

#sec2-3 article p {
    text-align: center;
}

#sec2-3 article p h2 {
    color: #F0F7F4;
}

#sec2-3 article p.subs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

#sec2-3 article p.subs-list div {
    background-color: inherit;
    text-align: center;
}

#sec2-3 article p.subs-list div h3 {
    color: #A2E3C4;
}

.clsBtn {
    display: inline-block;
    cursor: pointer;
    padding: 2vw;
}

.barI, .barII, .barIII {
    width: 35px;
    height: 5px;
    background-color: #A2E3C4;
    margin: 6px 0;
    border-radius: 2px;
}

.barI {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.barII {
    opacity: 0;
}

.barIII {
    transform: rotate(45deg) translate(-8px, -8px);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    text-align: left;
}

form input {
    border: none;
    padding: 0.5rem;
    background-color: transparent;
    color: #A2E3C4;
}

label {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#sec2-3 form button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
    background: transparent;
    border: 2px solid #5A9367;
    border-radius: 3px;
    color: #F0F7F4;
    font-weight: bold;
    align-self: center;
}

#sec2-3 form button:hover {
    border: 2px solid #F0F7F4;
    color: #5A9367;
    cursor: pointer;
}

#sec2-3 div p a {
    color: #5A9367;
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #sec2-3 div {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    #sec2-3 div {
        width: 66%;
    }
}