#sec2-3 {
    width: auto;
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/job-banner.jpg');
    background-repeat: no-repeat;background-color: #F0F7F4;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

