article {
    width: 100%;
    height: 100%;
    visibility: hidden;
    background:  rgba(0, 0, 0, 0.9);
    color: #A2E3C4;
    position: fixed;
    z-index: 3;
    top: 50px;
    left: 0px;
    overflow-x: scroll;
}

article p {
    text-align: center;
}

article p h2 {
    color: #F0F7F4;
}

article p.subs-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

article p.subs-list div {
    background-color: inherit;
    text-align: center;
}

article p.subs-list div h3 {
    color: #A2E3C4;
}

.clsBtn {
    display: inline-block;
    cursor: pointer;
    padding: 2vw;
}

.barI, .barII, .barIII {
    width: 35px;
    height: 5px;
    background-color: #A2E3C4;
    margin: 6px 0;
    border-radius: 2px;
}

.barI {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.barII {
    opacity: 0;
}

.barIII {
    transform: rotate(45deg) translate(-8px, -8px);
}
